[include mainsail.cfg]
[include sensorless.cfg]
[include rainbow_barf.cfg]
[include gcode_macro.cfg]
[gcode_arcs]
[exclude_object]
[include K-ShakeTune/*.cfg]
[include KAMP_Settings.cfg]

#####################################################################
# MCU SETUP
#####################################################################

[mcu]
canbus_uuid: f6cd9c5f7feb

[mcu EBBCan]
canbus_uuid: 411871e73bf0

#####################################################################
# KLIPPER SCREEN
#####################################################################

[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]

#####################################################################
# PRINTER DEFINITIONS
#####################################################################

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 30000
minimum_cruise_ratio: 0.5
max_z_velocity: 10
max_z_accel: 400
square_corner_velocity: 5 #15

[firmware_retraction]
retract_length: 0.6
retract_speed: 85 
unretract_speed: 80

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 3
#keep_raw_csv: False
show_macros_in_webui: True
# timeout: 300

#####################################################################
# Cartographer
#####################################################################

[mcu scanner]
canbus_uuid: c01820d33e9d  
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
#    adjust to suit your scanner, if using usb change to serial

[scanner]
mcu: scanner            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 17                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.00187
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: CARTO_TOUCH
#    alternate name to call commands. CARTO_TOUCH etc      
mesh_runs: 2
#    Number of passes to make during mesh scan.

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105

#################################################################################
# BED MESH
#################################################################################
[bed_mesh]
zero_reference_position: 150, 150
speed: 400
horizontal_move_z: 10
mesh_min: 35,26
mesh_pps: 1,1
mesh_max: 270, 258
probe_count: 15,15
algorithm: bicubic

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20

[input_shaper]
##  A frequency (in Hz) of the input shaper for X or Y axis. 
shaper_type_x: mzv
shaper_freq_x: 76.6
shaper_type_y: mzv
shaper_freq_y: 65.6
damping_ratio_x: 0.046
damping_ratio_y: 0.043

#[adxl345]                             # EBB 2209 canbus accelerometer
#cs_pin: EBBCan: PB12
#spi_software_sclk_pin: EBBCan: PB13
#spi_software_mosi_pin: EBBCan: PB15
#spi_software_miso_pin: EBBCan: PB14
#axes_map: z,y,x

[adxl345]                            # Scanner canbus accelerometer
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    125, 125, 20

[idle_timeout]
timeout: 1800

#####################################################################
# X/Y STEPPER SETTINGS
#####################################################################

## X Stepper on Motor1 (B Motor)
[stepper_x]
step_pin: PC13
dir_pin: PC14
enable_pin: !PE6
microsteps: 32
rotation_distance: 50
full_steps_per_rotation:200
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 150   
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: PG14
spi_speed: 4000000
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
diag1_pin: ^!PF0
sense_resistor: 0.050
interpolate: False
run_current: 1.6
stealthchop_threshold: 0
driver_SGT: -3

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PE4
dir_pin: PE5
enable_pin: !PE3
microsteps: 32
rotation_distance: 50
full_steps_per_rotation:200  
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 150  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PG13
spi_speed: 4000000
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
diag1_pin: ^!PF2
sense_resistor: 0.050
interpolate: False
run_current: 1.6
stealthchop_threshold: 0
driver_SGT: -3

#####################################################################
# Z STEPPER SETTINGS
#####################################################################

[stepper_z] # left lead screw
step_pin: PB8
dir_pin: PB9
enable_pin: !PB7
rotation_distance: 2 
microsteps: 32
endstop_pin: probe:z_virtual_endstop # uses cartographer as virtual endstop
position_max: 240
position_min: -8 # -2.5
homing_speed: 10.0 
second_homing_speed: 3
homing_retract_dist: 0 # cartographer needs this to be set to 0

[tmc2209 stepper_z]
uart_pin: PG11
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1] # center lead screw
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB6
rotation_distance: 2
microsteps: 32

[tmc2209 stepper_z1] 
uart_pin: PG10
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2] # right lead screw
step_pin: PG15
dir_pin: PB3
enable_pin: !PD5
rotation_distance: 2
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PG9
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# EXTRUDER
#####################################################################

[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
rotation_distance: 33.186011767874        # SBG2 45.6094368 # stock 47.088
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
pressure_advance: 0.045
pressure_advance_smooth_time: 0.02
max_extrude_only_distance: 500.0
max_extrude_cross_section: 10
heater_pin: EBBCan: PB13
sensor_type: MAX31865
sensor_pin: EBBCan: PA4
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
#control: watermark
min_temp: -20
max_temp: 350
max_power: 1.0
min_extrude_temp: 150

[tmc2209 extruder]
uart_pin: EBBCan: PA15
interpolate: false
run_current: 0.75
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# Z TILT
#####################################################################

[z_tilt]
z_positions:
  -50, 18
  150, 348
  350, 18
points:
  30, 5
  150, 245
  270, 5
speed: 350
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075

#####################################################################
# BED HEATER
#####################################################################

[heater_bed]
heater_pin: PF5
sensor_pin: PB1 # TB
sensor_type: Generic 3950 
max_power: 1
#control: watermark
min_temp: 0
max_temp: 115

#####################################################################
# THERMISTOR SETTINGS
#####################################################################

[temperature_sensor Pi_4B]
sensor_type: temperature_host
min_temp: -10
max_temp: 90

[temperature_sensor Octopus_Max_EZ]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: -10
max_temp: 80

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PB0
min_temp: 0
max_temp: 100
gcode_id: C

[temperature_sensor EBBCan_MCU]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: -10
max_temp: 100

[temperature_sensor Stepper_X]
sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: PA7

[temperature_sensor Stepper_Y]
sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: PC4

#####################################################################
# FAN CONTROL
#####################################################################

[duplicate_pin_override]
pins: PB0

[fan]          # part cooling fan 
pin: EBBCan: PA1    #vfan1
kick_start_time: 0.5
#off_below: 0.05

[heater_fan hotend_fan]     # nozzle fan
pin: EBBCan: PA0    #vfan2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 45.0
shutdown_speed: 1.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[multi_pin basement_fans]
pins: PA1, PF8

[temperature_fan Pi_MCU]  # skirt fans (4) 
pin: multi_pin:basement_fans
tachometer_pin: PC3
cycle_time: 0.0100
hardware_pwm: false 
max_power: 1
max_speed: 1.0
min_speed: 0
shutdown_speed: 0
sensor_type: temperature_host
min_temp: -10
max_temp: 90
control: pid
pid_Kp: 4.0
pid_Ki: 1
pid_Kd: 0.2
pid_deriv_time: 2.0
target_temp: 50.0
max_speed: 1.0
min_speed: 0.0

[multi_pin stepper_fans]
pins: PA6, PA5

[controller_fan stepper_fans]    # Driver cooling fan
pin: multi_pin:stepper_fans      # Fan pin 
kick_start_time: 0.5
stepper: stepper_x

[controller_fan board_fans]
pin: PA3
kick_start_time: 0.5
stepper: stepper_y

#######################################################################
## Nevermore V6
#######################################################################
[output_pin nevermore]
pin: PA4
value: 0
shutdown_value: 0

#######################################################################
# FILAMENT RUNOUT SENSOR
#######################################################################
#[filament_switch_sensor switch_sensor]
#switch_pin: ^PF1
#pause_on_runout: False
#runout_gcode:
  #PAUSE [pause_resume] is required in printer.cfg
  #M117 Filament switch runout
#insert_gcode:
  #M117 Filament switch inserted

#[filament_motion_sensor encoder_sensor]
#switch_pin: ^PC15

#detection_length: 2.88 # accuracy of motion sensor 2.88mm
#extruder: extruder
#pause_on_runout: False
#runout_gcode:
  #PAUSE # [pause_resume] is required in printer.cfg
  #M117 Filament encoder runout
#insert_gcode:
  #M117 Filament encoder inserted

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 260.00
#*# pid_tolerance = 0.0200
#*# pid_kp = 31.399
#*# pid_ki = 2.779
#*# pid_kd = 88.709
#*# control = pid
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 100.00
#*# pid_tolerance = 0.0200
#*# pid_kp = 32.353
#*# pid_ki = 1.112
#*# pid_kd = 235.370
#*# control = pid
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.050435, -0.044587, 0.007153, 0.103672, 0.102782, -0.003132, -0.038558, -0.022371, -0.026882, -0.020382, -0.002644, -0.017024, -0.037569, -0.030569, -0.037040
#*# 	-0.065172, -0.047959, 0.050481, 0.121105, 0.045700, -0.035222, -0.048426, -0.029831, -0.031546, -0.030991, -0.007794, -0.015777, -0.037578, -0.031736, -0.031896
#*# 	-0.075759, -0.038400, 0.080953, 0.094719, -0.002978, -0.048079, -0.048643, -0.030415, -0.032610, -0.027753, -0.007435, -0.012326, -0.034801, -0.030830, -0.025369
#*# 	-0.085363, -0.049290, 0.033447, 0.025288, -0.029587, -0.050970, -0.053452, -0.036329, -0.030943, -0.029591, -0.005854, -0.018337, -0.034669, -0.019777, -0.014803
#*# 	-0.096029, -0.080734, -0.045385, -0.029400, -0.043350, -0.055764, -0.058792, -0.042409, -0.038467, -0.029967, -0.001144, -0.013715, -0.030575, -0.018435, -0.009029
#*# 	-0.109059, -0.108556, -0.075337, -0.048894, -0.050467, -0.062317, -0.064167, -0.042309, -0.043902, -0.040263, -0.008132, -0.016011, -0.032559, -0.012334, 0.002349
#*# 	-0.116155, -0.120219, -0.086378, -0.054826, -0.057192, -0.065421, -0.065217, -0.054446, -0.059027, -0.048292, -0.010634, -0.021404, -0.033338, 0.005499, 0.031084
#*# 	-0.127721, -0.118357, -0.081767, -0.057020, -0.062644, -0.073391, -0.061736, -0.023475, -0.048172, -0.053584, -0.022166, -0.021352, -0.031556, 0.011176, 0.034467
#*# 	-0.140953, -0.125522, -0.089553, -0.061782, -0.073740, -0.079650, -0.056020, 0.004426, -0.036819, -0.053114, -0.029598, -0.033420, -0.040498, -0.008994, 0.009734
#*# 	-0.143415, -0.131873, -0.094726, -0.061856, -0.071438, -0.087825, -0.075329, -0.041880, -0.059207, -0.056228, -0.027782, -0.037149, -0.033173, -0.008590, 0.010742
#*# 	-0.145366, -0.133697, -0.100899, -0.067591, -0.071756, -0.086851, -0.090351, -0.056287, -0.066415, -0.063405, -0.027549, -0.030184, -0.037021, -0.001238, 0.023912
#*# 	-0.147365, -0.137869, -0.104737, -0.076807, -0.076898, -0.093639, -0.096045, -0.063982, -0.065432, -0.059912, -0.026611, -0.020668, -0.027660, 0.004321, 0.032085
#*# 	-0.155364, -0.140050, -0.112694, -0.079255, -0.068068, -0.093383, -0.099856, -0.067829, -0.058149, -0.046668, -0.017896, -0.013819, -0.013559, 0.009067, 0.031717
#*# 	-0.163072, -0.144171, -0.120064, -0.080710, -0.063839, -0.090331, -0.091492, -0.058759, -0.035697, -0.022124, -0.003171, 0.001019, 0.005566, 0.023845, 0.046438
#*# 	-0.171019, -0.147495, -0.113127, -0.082639, -0.074552, -0.081664, -0.079509, -0.049212, -0.033268, -0.025449, 0.007376, 0.012096, 0.014663, 0.030558, 0.051083
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 1
#*# mesh_y_pps = 1
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 270.0
#*# min_y = 26.0
#*# max_y = 258.0
#*#
#*# [probe]
#*# z_offset = -0.605
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_z_offset = 0.255
#*# scanner_touch_threshold = 1250
#*# scanner_touch_speed = 3
#*#
#*# [scanner model default]
#*# model_coef = 1.5880743923610077,
#*# 	  1.937895269482599,
#*# 	  0.7297241577489032,
#*# 	  0.1518839826485984,
#*# 	  0.35839838994705453,
#*# 	  0.8078698613959898,
#*# 	  -0.18224580558448822,
#*# 	  -0.825888173129432,
#*# 	  0.15719213592668707,
#*# 	  0.3810722803680515
#*# model_domain = 3.293333119880172e-07,3.361729335455466e-07
#*# model_range = 0.200000,5.100000
#*# model_temp = 68.428962
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.1.0
