[include mainsail.cfg]
[include sensorless.cfg]
[include rainbow_barf.cfg]
[include gcode_macro.cfg]
[gcode_arcs]
[exclude_object]
[include K-ShakeTune/*.cfg]
[include KAMP_Settings.cfg]

#####################################################################
# MCU SETUP
#####################################################################

[mcu]
canbus_uuid: f6cd9c5f7feb

[mcu EBBCan]
canbus_uuid: 411871e73bf0

#####################################################################
# KLIPPER SCREEN
#####################################################################

[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]

#####################################################################
# PRINTER DEFINITIONS
#####################################################################

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 30000
minimum_cruise_ratio: 0.5
max_z_velocity: 10
max_z_accel: 400
square_corner_velocity: 5 #15

[firmware_retraction]
retract_length: 0.6
retract_speed: 85 
unretract_speed: 80

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 3
#keep_raw_csv: False
show_macros_in_webui: True
# timeout: 300

#####################################################################
# Cartographer
#####################################################################

[mcu scanner]
canbus_uuid: c01820d33e9d  
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
#    adjust to suit your scanner, if using usb change to serial

[scanner]
mcu: scanner            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 17                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.00102
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: CARTO_TOUCH
#    alternate name to call commands. CARTO_TOUCH etc      
mesh_runs: 2
#    Number of passes to make during mesh scan.

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105

#################################################################################
# BED MESH
#################################################################################
[bed_mesh]
zero_reference_position: 150, 150
speed: 500
horizontal_move_z: 10
mesh_min: 35,26
mesh_pps: 1,1
mesh_max: 270, 258
probe_count: 15,15
algorithm: bicubic

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20

[input_shaper]
##  A frequency (in Hz) of the input shaper for X or Y axis. 
shaper_type_x: mzv
shaper_freq_x: 76.6
shaper_type_y: mzv
shaper_freq_y: 65.8
damping_ratio_x: 0.057
damping_ratio_y: 0.038

#[adxl345]                             # EBB 2209 canbus accelerometer
#cs_pin: EBBCan: PB12
#spi_software_sclk_pin: EBBCan: PB13
#spi_software_mosi_pin: EBBCan: PB15
#spi_software_miso_pin: EBBCan: PB14
#axes_map: z,y,x

[adxl345]                            # Scanner canbus accelerometer
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    125, 125, 20

[idle_timeout]
timeout: 1800

#####################################################################
# X/Y STEPPER SETTINGS
#####################################################################

## X Stepper on Motor1 (B Motor)
[stepper_x]
step_pin: PC13
dir_pin: PC14
enable_pin: !PE6
microsteps: 32
rotation_distance: 50
full_steps_per_rotation:200
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 150   
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: PG14
spi_speed: 4000000
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
diag1_pin: ^!PF0
sense_resistor: 0.050
interpolate: False
run_current: 1.6
stealthchop_threshold: 0
driver_SGT: -3

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PE4
dir_pin: PE5
enable_pin: !PE3
microsteps: 32
rotation_distance: 50
full_steps_per_rotation:200  
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 150  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PG13
spi_speed: 4000000
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
diag1_pin: ^!PF2
sense_resistor: 0.050
interpolate: False
run_current: 1.6
stealthchop_threshold: 0
driver_SGT: -3

#####################################################################
# Z STEPPER SETTINGS
#####################################################################

[stepper_z] # left lead screw
step_pin: PB8
dir_pin: PB9
enable_pin: !PB7
rotation_distance: 2 
microsteps: 32
endstop_pin: probe:z_virtual_endstop # uses cartographer as virtual endstop
position_max: 240
position_min: -8 # -2.5
homing_speed: 10.0 
second_homing_speed: 3
homing_retract_dist: 0 # cartographer needs this to be set to 0

[tmc2209 stepper_z]
uart_pin: PG11
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1] # center lead screw
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB6
rotation_distance: 2
microsteps: 32

[tmc2209 stepper_z1] 
uart_pin: PG10
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2] # right lead screw
step_pin: PG15
dir_pin: PB3
enable_pin: !PD5
rotation_distance: 2
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PG9
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# EXTRUDER
#####################################################################

[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
rotation_distance: 33.186011767874        # SBG2 45.6094368 # stock 47.088
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
pressure_advance: 0.045
pressure_advance_smooth_time: 0.02
max_extrude_only_distance: 500.0
max_extrude_cross_section: 10
heater_pin: EBBCan: PB13
sensor_type: MAX31865
sensor_pin: EBBCan: PA4
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
#control: watermark
min_temp: -20
max_temp: 350
max_power: 1.0
min_extrude_temp: 150

[tmc2209 extruder]
uart_pin: EBBCan: PA15
interpolate: false
run_current: 0.75
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# Z TILT
#####################################################################

[z_tilt]
z_positions:
  -50, 18
  150, 348
  350, 18
points:
  30, 5
  150, 245
  270, 5
speed: 350
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075 

#####################################################################
# BED HEATER
#####################################################################

[heater_bed]
heater_pin: PF5
sensor_pin: PB1 # TB
sensor_type: Generic 3950 
max_power: 1
#control: watermark
min_temp: 0
max_temp: 115

#####################################################################
# THERMISTOR SETTINGS
#####################################################################

[temperature_sensor Pi_4B]
sensor_type: temperature_host
min_temp: -10
max_temp: 90

[temperature_sensor Octopus_Max_EZ]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: -10
max_temp: 80

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PB0
min_temp: 0
max_temp: 100
gcode_id: C

[temperature_sensor EBBCan_MCU]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: -10
max_temp: 100

[temperature_sensor Stepper_X]
sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: PA7

[temperature_sensor Stepper_Y]
sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: PC4

#####################################################################
# FAN CONTROL
#####################################################################

[duplicate_pin_override]
pins: PB0

[fan]          # part cooling fan 
pin: EBBCan: PA1    #vfan1
kick_start_time: 0.5
#off_below: 0.05

[heater_fan hotend_fan]     # nozzle fan
pin: EBBCan: PA0    #vfan2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 45.0
shutdown_speed: 1.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[multi_pin basement_fans]
pins: PA1, PF8

[temperature_fan Pi_MCU]  # skirt fans (4) 
pin: multi_pin:basement_fans
tachometer_pin: PC3
cycle_time: 0.0100
hardware_pwm: false 
max_power: 1
max_speed: 1.0
min_speed: 0
shutdown_speed: 0
sensor_type: temperature_host
min_temp: -10
max_temp: 90
control: pid
pid_Kp: 4.0
pid_Ki: 1
pid_Kd: 0.2
pid_deriv_time: 2.0
target_temp: 50.0
max_speed: 1.0
min_speed: 0.0

[multi_pin stepper_fans]
pins: PA6, PA5

[controller_fan stepper_fans]    # Driver cooling fan
pin: multi_pin:stepper_fans      # Fan pin 
kick_start_time: 0.5
stepper: stepper_x

[controller_fan board_fans]
pin: PA3
kick_start_time: 0.5
stepper: stepper_y

#######################################################################
## Nevermore V6
#######################################################################
[output_pin nevermore]
pin: PA4
value: 0
shutdown_value: 0

#######################################################################
# FILAMENT RUNOUT SENSOR
#######################################################################
#[filament_switch_sensor switch_sensor]
#switch_pin: ^PF1
#pause_on_runout: False
#runout_gcode:
  #PAUSE [pause_resume] is required in printer.cfg
  #M117 Filament switch runout
#insert_gcode:
  #M117 Filament switch inserted

#[filament_motion_sensor encoder_sensor]
#switch_pin: ^PC15

#detection_length: 2.88 # accuracy of motion sensor 2.88mm
#extruder: extruder
#pause_on_runout: False
#runout_gcode:
  #PAUSE # [pause_resume] is required in printer.cfg
  #M117 Filament encoder runout
#insert_gcode:
  #M117 Filament encoder inserted

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 260.00
#*# pid_tolerance = 0.0200
#*# pid_kp = 31.399
#*# pid_ki = 2.779
#*# pid_kd = 88.709
#*# control = pid
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 100.00
#*# pid_tolerance = 0.0200
#*# pid_kp = 32.353
#*# pid_ki = 1.112
#*# pid_kd = 235.370
#*# control = pid
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.021327, 0.031051, 0.033799, 0.041670, 0.047476, 0.048030, 0.045559, 0.047704, 0.049174, 0.049039, 0.052344, 0.053158, 0.053276, 0.057842, 0.062014
#*# 	-0.002939, 0.001846, 0.005865, 0.016497, 0.024033, 0.025866, 0.027882, 0.030882, 0.034999, 0.038549, 0.043913, 0.048721, 0.050827, 0.060756, 0.068656
#*# 	-0.021575, -0.016181, -0.009615, 0.000509, 0.009315, 0.012876, 0.016613, 0.022206, 0.027769, 0.032339, 0.041107, 0.047743, 0.053778, 0.065867, 0.076852
#*# 	-0.037213, -0.030760, -0.022701, -0.011288, -0.002047, 0.005646, 0.008799, 0.016650, 0.025415, 0.028211, 0.040757, 0.048077, 0.058144, 0.070009, 0.084201
#*# 	-0.049849, -0.041890, -0.033341, -0.020538, -0.007102, 0.001132, 0.006649, 0.016382, 0.026224, 0.032286, 0.045082, 0.058368, 0.068226, 0.082605, 0.101450
#*# 	-0.068015, -0.058661, -0.047119, -0.031512, -0.018580, -0.009284, -0.000355, 0.011325, 0.021777, 0.030861, 0.045392, 0.058326, 0.074453, 0.093730, 0.113281
#*# 	-0.090283, -0.078443, -0.064142, -0.048733, -0.036407, -0.024243, -0.012957, -0.001743, 0.011291, 0.024698, 0.039547, 0.055455, 0.072629, 0.094930, 0.117208
#*# 	-0.104306, -0.089952, -0.074607, -0.055923, -0.039929, -0.026859, -0.013788, -0.001382, 0.013279, 0.025960, 0.043244, 0.063615, 0.079834, 0.104103, 0.130828
#*# 	-0.115874, -0.100464, -0.080616, -0.062979, -0.044870, -0.027315, -0.015169, 0.002572, 0.017112, 0.030652, 0.051184, 0.070551, 0.088192, 0.113009, 0.139792
#*# 	-0.129734, -0.110270, -0.091439, -0.067640, -0.047608, -0.031138, -0.013197, 0.003426, 0.021185, 0.036433, 0.058947, 0.077225, 0.097263, 0.124752, 0.151365
#*# 	-0.132864, -0.110758, -0.087766, -0.062812, -0.039080, -0.020404, -0.004835, 0.015470, 0.033300, 0.050374, 0.073426, 0.095394, 0.115388, 0.144383, 0.170656
#*# 	-0.132801, -0.108662, -0.083103, -0.056371, -0.031255, -0.009746, 0.008058, 0.030138, 0.049445, 0.064949, 0.090518, 0.114750, 0.138701, 0.167264, 0.198574
#*# 	-0.137590, -0.111114, -0.088163, -0.055924, -0.028652, -0.007644, 0.014939, 0.034736, 0.056216, 0.075184, 0.101361, 0.126527, 0.150526, 0.178673, 0.209837
#*# 	-0.133570, -0.104870, -0.079120, -0.047680, -0.015283, 0.007851, 0.030580, 0.052871, 0.076222, 0.097035, 0.125471, 0.150667, 0.175089, 0.204971, 0.236103
#*# 	-0.130723, -0.099575, -0.073376, -0.039281, -0.006654, 0.022823, 0.044443, 0.067948, 0.096727, 0.118445, 0.145856, 0.171852, 0.199750, 0.233539, 0.256477
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 1
#*# mesh_y_pps = 1
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 270.0
#*# min_y = 26.0
#*# max_y = 258.0
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_threshold = 1250
#*# scanner_touch_speed = 3
#*# scanner_touch_z_offset = 0.050
#*#
#*# [scanner model default]
#*# model_coef = 1.5816981090890325,
#*# 	  1.8979115558201618,
#*# 	  0.8080887742039392,
#*# 	  0.433110639139726,
#*# 	  0.06286224704929354,
#*# 	  -0.11376557252034902,
#*# 	  0.17912884954825456,
#*# 	  0.35211745796915267,
#*# 	  0.019012210011397544,
#*# 	  -0.11693452115190013
#*# model_domain = 3.2808108454968274e-07,3.35862411693858e-07
#*# model_range = 0.200000,5.100000
#*# model_temp = 57.653908
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.1.0
